.dvd-image {
    width: 100px;
    padding-right: 5px;
}

li.dvd-item {
    padding: 10px;
}

li.dvd-item:nth-child(odd) {
    background-color:#F0F0F0 ;
}

h2 a {
    color: #FF9900;
    font-size:150%;
    text-decoration: none;
}

span.label{
    font-weight: bold;
}

div.torrent-info{
    padding-top: 10px;
}

div.torrent-info h3{
    font-size:120%;
    font-weight: bold;
}